[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
plotly = "*"
python-dotenv = "*"
altair = "*"
bokeh = "*"
requests = "*"
numpy = "*"
json = "*"

[dev-packages]

[requires]
python_version = "3.9"
